layout {

    focus-ring {
        active-color   "#9bcbff"
        inactive-color "#111417"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#9bcbff"
        inactive-color "#111417"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#9bcbff"
        inactive-color "#5b95ce"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#9bcbff80"
    }
}

recent-windows {
    highlight {
        active-color "#9bcbff"
        urgent-color "#ffb4ab"
    }
}
